$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    margin-top: 20px;

    /* Make the masthead heading the same height as the navigation */
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
    }
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
    float: right;

}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.bckgrd{
    background: rgb(91, 168, 165);
    padding: 45px 0;
}

.header-bckgrd{
    background: antiquewhite;  
}

.list-of-items,
.main-view {
    display: inline-block;
}

.list-of-items{
    height: 544px;
    overflow: scroll;
    margin-right: 80px;
    background: #F3FFE2;
    
    .list-header{
        color: #636161;
        font-size: 20px;
        height: 60px;
        border-bottom: 1px solid;
        line-height: 60px;
        text-align: center;
    }

    .item-list-version{
        text-decoration: none;
        color: #999999;

        div{
            padding: 10px 5px 30px 5px;
            border-bottom: 1px solid;

            span{
                float: right;
            }

            &:hover{
                background: rgb(214, 222, 195);
                font-weight: 900;
            }
        }    
    }    
}

.main-view{
    .focus-view {
        text-align: center;
        box-shadow: 1px 1px 1px;


        img, h3{
            display: inline-block;
        }

        img {
            margin: 30px 0 30px 30px;
            width: 225px;
            height: 225px;
        }

        h3{
            vertical-align: middle;
            width: 200px;
            margin: -5px 30px 0 39px
        }

        .item-description{
            margin: 10px 0 10px 35px;
            width: 460px;
            padding: 10px;
            height: 184px;
            text-align: left;
            overflow: scroll;
        }

        .more-info{
            padding-bottom: 25px;

            span{
                float: left;
                margin-left: 80px;
                font-size: 18px;
                padding-right: 125px;
            }

            a{
                font-size: 18px;
            }
        }
    }    
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 960px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}
