$icon-font-path: "../bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';
@import "compass/css3";

//Colors:
$blue: #148EF0;
$brown: #4e3f30;
$white: #FFFFFD;
$off-white: #f8f4e4;
$gray: #a5b3aa;

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

* {
    margin: 0;
    padding: 0;
    vertical-align: top;
}

body{
   // grr! ghpages and grunt!
    background: url(../images/ad2d8242.wood-bkgrd.jpg);
    background-size: cover; 
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    padding-top: 20px;
    background: rgba(96, 69, 43, 0.6);
    height: 123px;

    /* Make the masthead heading the same height as the navigation */
    a {
        h3 {
            font-size: 32px;
            line-height: 40px;
            color: $blue;
        }

        &:hover{
            color: $blue;
        }
    }

    .input-group{
        margin-top: 15px;

        input{
            height: 33px;
            margin-top: 10px;
            padding-left: 5px;
            @include border-radius(6px);
        }

        a{
            button {
                background: $blue;
                color: $off-white;
                height: 33px;
                width: 75px;
                border: 1px solid #4848C6;
                @include border-radius(6px);

                &:hover{
                    background: #2082D0;
                }
            }

            &:hover{
                background-color: rgba(50,50,50,0);
            }
        }
    }
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    float: right;

}

.container-narrow > hr {
    margin: 30px 0;
}

.list-of-items{
    height: 544px;
    overflow: scroll;
    margin-right: 40px;
    background: $white;
    padding: 5px;
    
    .list-header{
        color: $brown;
        font-size: 20px;
        height: 60px;
        border-bottom: 1px solid;
        line-height: 30px;
        text-align: center;
        font-weight: 600;
        font-style: italic;
    }

    a.item-list-version{
        text-decoration: none;

        div{
            color: $gray;
            padding: 10px 5px 30px 5px;
            border-bottom: 1px solid;

            span{
                float: right;
            }

            &:hover{
                background: rgb(246, 237, 237);
                font-weight: 900;
            }
        } 
        
    }    
}

.sort-by-price{
    margin: 10px 0 10px 76px;;
    width: 140px;
    height: 35px;
    border-radius: 6px;
    background: $blue;
    color: $white;
    border: 1px solid #4848C6;

    &:hover{
        background: #2082D0;
    }
}

.main-view{
    .focus-view {
        text-align: center;
        box-shadow: 1px 1px 1px;
        @include transition(all 1s easein);

        img, h3{
            display: inline-block;
        }

        img {
            margin: 30px 0 30px 30px;
            width: 225px;
            height: 225px;
        }

        h3{
            vertical-align: middle;
            width: 200px;
            margin: -5px 30px 0 39px
        }

        .item-description{
            margin: 10px 30px;
            padding: 10px;
            height: 182px;
            text-align: left;
            overflow: scroll;

            p{
                padding: 10px
            } 
        }

        .more-info{
            padding-bottom: 25px;

            span{
                float: left;
                margin-left: 80px;
                font-size: 18px;
                padding-right: 125px;
            }

            a{
                font-size: 18px;
            }
        }
    }
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 960px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 40px;
    }
    
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}
