$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;

    /* Make the masthead heading the same height as the navigation */
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        padding-bottom: 19px;
    }
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
    float: right;
}

.container-narrow > hr {
    margin: 30px 0;
}

//Colors:
$drkblue: #225378;
$drkgrn: #1695A3;
$ltgrn: #ACF0F2;
$beige: #F3FFE2;
$orange: #EB7F00;

/* Main marketing message and sign up button */
.bckgrd{
    background: lightgray;
}

.myheader{
    font-size: 26px;
    text-align: center;
    margin-bottom: 20px;
    border: none;
    color: $drkblue;
    text-shadow: 1px 1px;
}

.list-of-items,
.main-view {
    display: inline-block;
}

.list-of-items{
    height: 600px;
    overflow: scroll;
    background: $orange;
    text-decoration: none;
    color: $drkblue;

    a{
        color: inherit;
    }
}

.main-view{
    .jumbotron {
        text-align: center;
        border-bottom: 1px solid #e5e5e5;
        background: $drkblue;

        img, h3{
            display: inline-block;
        }

        img {
            margin: 0 15px 15px -15px;
            width: 200px;
            height: 200px;
        }

        h3{
            vertical-align: middle;
            width: 250px;
            margin-top: -5px;
        }

        .item-description{
            margin: 30px 0 5px -10px;
            width: 510px;
            background: $beige;
            padding: 15px;
            height: 195px;
            text-align: left;
            overflow: scroll;
        }

        .more-info{
            a{
                float: right;
                margin-left: 255px;
            }
        }
    }    
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 960px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}
